body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heroicons .MUI_root {
  font-size: 500px !important;
}

.inputRounded .MuiOutlinedInput-root{
  border-radius: 50px;
  border: solid 1px rgb(131 88 255);
}

.kiHXWb{
  border-color: darkgray !important;
  height: 200px !important;
}