body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heroicons .MUI_root {
  font-size: 500px !important;
}

.inputRounded .MuiOutlinedInput-root{
  border-radius: 50px;
  border: solid 1px #E7E8EC;
  padding: 8px;
}

.kiHXWb{
  border-radius: 0.5rem;
  border-color: #E7E8EC !important;
  height: 200px !important;
}

.MuiOutlinedInput-input {
  border-color: #E7E8EC;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  border-width: 1px;
}

.swiper-button-next, .swiper-button-prev{
  background-color: #fff;
  border-radius: 99px;
  box-shadow: 0 0 transparent, 0 0 transparent, 5px 5px 10px rgb(108 106 212 / 25%), inset 2px 2px 6px #eef1f9, inset -5px -5px 10px #dfe3ef;
  padding: 20px;
}

.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 1rem !important;
  font-weight: 900;
  color: black;
}

.swiper-button-next{
  right: 0 !important;
}

.swiper-button-prev{
  left: 0 !important;
}