body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heroicons .MUI_root {
  font-size: 500px !important;
}

.inputRounded .MuiOutlinedInput-root{
  border-radius: 50px;
  border: solid 1px #E7E8EC;
}

.kiHXWb{
  border-radius: 0.5rem;
  border-color: #E7E8EC !important;
  height: 200px !important;
}

.MuiOutlinedInput-input {
  border-color: #E7E8EC;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem !important;
  border-width: 1px;
}